

    
    // stage('PUSH') {
    //   steps {
    //     sh 'docker push shereenfarag/dso-lab:latest'
    //   }
    // }
  
    // stage("TRIVY"){
    //   steps{
    //     sh "trivy image shereenfarag/dso-lab:latest > trivy.txt"
    //     }
    // }

    // stage('DEPLOY'){
    //   steps{
    //     sh 'docker run -d --name dso-lab -p 3000:3000 shereenfarag/dso-lab:latest'
    //     }
    // }

}


